<h1>Create New Artist</h1>
<% if @artist.errors.any? %>
  <div id="error_explaination">
    <h2>
      <%= pluralize(@artist.errors.count, 'error') %>
      found:
    </h2>
    <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :age %>
  <%= f.number_field :age %>
  <br>
  <%= f.label :instrument_id %>
  <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :name %>
  <br>
  <%= f.submit %>
<% end %>