<h2><%= @artist.name %></h2>
<h4 style="font-style: italic"><%= @artist.title %></h4>
<p>Age: <%= @artist.age %></p>

<p>Instruments:</p>
<% if @artist.instruments.empty? %>
  <p>There is no instrument connected with this artist.</p>
<% else %>
  <ul>
    <% @artist.instruments.each do |instrument| %>
      <li><%= instrument.name %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to 'Go Back to Artist Index Page', artists_path %></p>